@using CroBooks.Web.HttpClients
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Cro Books</MudText>
        <MudSpacer />
        <CultureSelector />
        <MudSwitch T="bool" Value="_isDarkMode" ValueChanged="@((e) => ToggleDarkMode(e))" 
        ThumbIcon="@(_isDarkMode == true ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode)"
        ThumbIconColor="@(_isDarkMode == true ? Color.Dark : Color.Dark)"
        Color="Color.Primary">
        </MudSwitch>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer Class="pt-3" MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] SecurityHelper securityHelper { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    bool _drawerOpen = true;
    bool _isDarkMode = true;

    protected override async Task OnInitializedAsync()
    {
        var authenticated = await securityHelper.IsAuthenticated();

        if (!authenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void ToggleDarkMode(bool value)
    {
        _isDarkMode = value;
    }
}